@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  background: #dddddd;
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100vh;
  background: #dddddd;
  font-family: "Roboto", sans-serif;
}
